<h1 style="text-align: center">Cart</h1>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of collectedItems">
        <span class="badge">
          {{item.type}}
        </span>
        <button class="btn btn-danger" (click)="onRemoveFromCollection(item)">
          remove from Cart
        </button>&nbsp;
        {{item.description}}
      </li>
    </ul>
    <h3 *ngIf="collectedItems.length===0"><b>Your cart is empty</b></h3>
  </div>
</div>

